@page
@model LogoutModel
@{
	ViewData["Title"] = "Log out";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
	<link href="~/css/LogInRegister.css" rel="stylesheet" />
<div class="logout">
	<h1>@ViewData["Title"]</h1>
	<p>You are now logged out of the application.</p>
</div>