@{
	ViewData["Title"] = "About";
}
<link href="~/css/About.css" rel="stylesheet" />
<div class="wrapper">
	<div class="title">
<h1>@ViewData["Title"]</h1>
	</div>
	<div class="text1">

<p>This website was created the 21. March 2020 by <em>Stian Håve</em></p>
<p>This is the first commerical release by Stian, bugs may arise.
	Incase of bugs or other inqueries, please contact 
	<em>Stianhave@hotmail.com</em>.
	</p>
	</div>
	<div class="text2">

<p>This project is open source and can be found at <a href="www.github.com/stanlylife">github</a></p>
	</div>
</div>
