@page
@model ChangePasswordModel
@using System.Net
@inject UserManager<IdentityUser> UserManager
@{
	ViewData["Title"] = "Change password";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var user = UserManager.FindByNameAsync(User.Identity.Name);
	var userId = WebUtility.UrlEncode(user.Result.Id.ToString().ToLower());
}
<link href="~/css/ManageProfile.css" rel="stylesheet" />
<link href="~/css/ChangePassword.css" rel="stylesheet" />
<h2 class="TitleName">@ViewData["Title"]</h2>
<div class="ManageContainer">
	<div class="LeftProfileNav">
		<ul class="nav nav-pills flex-column">
			<li class="nav-item"><a class="nav-link" id="profile" asp-controller="profile" asp-action="Manage" asp-route-userKey="@userId">Manage</a></li>
			<li class="nav-item"><a class="nav-link" id="email" href="/Identity/Account/Manage/Email">Email</a></li>
			<li class="nav-item"><a class="nav-link newActive" id="change-password" href="/Identity/Account/Manage/ChangePassword">Password</a></li>
		</ul>

	</div>
	<div class="col-md-6">
		<form id="change-password-form" method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Input.OldPassword" class="myLabel"></label>
				<input asp-for="Input.OldPassword" class="myInput" />
				<span asp-validation-for="Input.OldPassword" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.NewPassword" class="myLabel"></label>
				<input asp-for="Input.NewPassword" class="myInput" />
				<span asp-validation-for="Input.NewPassword" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.ConfirmPassword" class="myLabel"></label>
				<input asp-for="Input.ConfirmPassword" class="myInput" />
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>
			<button type="submit" class="myButton">Update password</button>
		</form>
	</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}