<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MyCertificate</title>
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<nav>
				<div class="navbar">
					<ul>
						<li class="navitem">
							<a asp-area="" asp-controller="home" asp-action="Index">Home</a>
						</li>
						<li class="navitem">
							<a asp-area="" asp-controller="Certifications" asp-action="Index">Certifications</a>
						</li>
						<li class="navitem">
							<a  asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
						</li>
						@if(User.Identity.IsAuthenticated) {

						<li class="navitem">
							<a  asp-area="" asp-controller="Create" asp-action="CreateCertifications">Add Certification</a>
						</li>
						<li class="navitem">
							<a asp-area="" asp-controller="Create" asp-action="ListEditCertifications">Update Certifications</a>
						</li>

						}
						 <partial name="_LoginPartial" />
					</ul>
				</div>
		</nav>
	</header>
	<div class="container">
		<main role="main">
			@RenderBody()
		</main>
	</div>
	@RenderSection("Scripts", required: false)
	<div class="Footer">
		<div class="LayoutFooter">

			<div class="FooterContainer">
				&copy; 2020 - StianLife - <a asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
			</div>

			<div>
				This work is licensed under a
				<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
				Creative Commons Attribution 4.0 International License
				</a>.
			</div>

		</div>
	</div>
</body>
</html>
