.DetailsHeader {
	background-color: var(--table-color);
	padding: 1vh 0;
	color: white;
	font-family: arial;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 50%;
	color: #888;
}

	.DetailsHeader h1 {
		text-transform: uppercase;
		margin-top: 1vh;
	}

	.DetailsHeader h6 {
		padding: 1vh 0;
		margin: 0;
		font-weight: 100;
		width: 60vw;
		height: auto;
		font-size: 1em;
	}

.img-fluid {
	display: flex;
	align-items: center;
	margin: auto;
}

img.img-fluid {
	margin-top: 5vh;
	max-width: 75vw;
}

#pdf {
	padding: 1vh 10%;
	width: 80%;
	margin: auto;
}


tbody tr {
	display: flex;
	height: 5vh;
	width: 100%;
	border-bottom: 3px solid #4e4e4ed1;
}


tbody td {
	width: 100%;
	display: flex;
	margin: 0 2px;
	align-items: center;
	overflow: hidden;
}


@media only screen and (max-width: 900px) {
	.DetailsHeader {
		font-size: .5em;
	}

	tbody {
		font-size: .5em;
	}

	#pdf {
		padding: 1vh 5%;
		width: 90%;
	}

	img.img-fluid {
		max-width: 95vw;
	}

	table tr td p {
		font-size: 1.25em;
		font-weight: 800;
	}
}
