
.form-group {
	display: flex;
	padding: 2.5vh 0;
}

	.form-group label {
		color: var(--table-color);
		width: 20vw;
	}

	.form-group input {
		width: 25vw;
	}

.input-group {
	display: flex;
}



.input-group-text {
	margin-right: -25px;
	width: 25px;
	color: var(--table-color);
}

@media only screen and (max-width: 900px) {
	.col-md-6 {
		margin: 0;
		width: 75%
	}

	.form-group input {
		width: 50vw;
	}
}
